<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>Arc hetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description>处理用户注册</description>
		<servlet-class>gzhu.edu.cn.homework.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
	
		<servlet-name>SchoolServlet</servlet-name>
		<display-name>SchoolServlet</display-name>
		<description></description>
		<servlet-class>gzhu.edu.cn.homework.admin.servlet.SchoolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>gzhu.edu.cn.homework.admin.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<display-name>AdminServlet</display-name>
		<description></description>
		<servlet-class>gzhu.edu.cn.homework.admin.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CollegeServlet</servlet-name>
		<display-name>CollegeServlet</display-name>
		<description></description>
		<servlet-class>gzhu.edu.cn.homework.admin.servlet.CollegeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminIndexServlet</servlet-name>
		<display-name>AdminIndexServlet</display-name>
		<description></description>
		<servlet-class>gzhu.edu.cn.homework.admin.servlet.AdminIndexServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MajorServlet</display-name>
		<servlet-name>MajorServlet</servlet-name>
		<servlet-class>gzhu.edu.cn.homework.admin.servlet.MajorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SchoolServlet</servlet-name>
		<url-pattern>/admin/school</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CollegeServlet</servlet-name>
		<url-pattern>/admin/college</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminIndexServlet</servlet-name>
		<url-pattern>/admin/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminIndexServlet</servlet-name>
		<url-pattern>/admin/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MajorServlet</servlet-name>
		<url-pattern>/admin/major</url-pattern>
	</servlet-mapping>
</web-app>